snippet flex
display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
endsnippet

snippet background-size
background-size: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
endsnippet
