snippet React.Component
class $1 extends React.Component {
    $0
}
endsnippet

snippet func
function $1 ($2) {
    $0
}
endsnippet

snippet funces
$1 = ($2) => {
    $0
}
endsnippet

snippet log
console.log($1);
endsnippet
